{% load static %}
<!DOCTYPE html>
<html class="page" lang="ru">

<head>
    <meta charset="UTF-8">
    <title>home</title>
    {% include 'include/styles.html' %}
</head>

<body class="page-body">

<header class="width-container">
 {% include 'include/header.html' %}
</header>

<main class="main-container width-container">
    {% block content %}
    {% endblock %}
</main>

{% include 'include/footer.html' %}
{% include 'include/scripts.html' %}

</body>

</html>

