{% load static %}

<link href="{% static 'css/style.css' %}" rel="stylesheet">

      <nav class="main-navigation">
        <a class="main-header-logo" href="index.html">
          <img src="static-backend/img/logo.svg" width="138" height="70" alt="Логотип сайта Седона. City of Sedona.">
        </a>
        <ul class="site-navigation">
          <li><a href="blank.html">Информация</a></li>
          <li><a href="blank.html">Фото и видео</a></li>
          <li><a href="blank.html">Карта штата</a></li>
          <li class="active-page"><a href="">Гостиницы</a></li>
        </ul>
      </nav>