{% extends 'base.html' %}

{% block content %}
<section class="main-banner" >
   <!-- <h2> {{ object.title1 }} </h2>
    <h4> {{ object.description1 }} </h4>
    <h1>{{ object.title2 }}</h1>
    <h3>{{ object.description2 }}</h3>-->
</section>

<section class="features">
  <div class="features-title">
    <p>{{ object.title3 }}</p>
    <p>{{ object.description3 }}</p>
  </div>
  <ul class="features-list">
     <li class="feature-item-1">
         <div class="feature-item feature-main-city">
               {% for reason in object.reasons.all %}
                    {% if reason.id == 1 %}
                <h3>{{ reason.title }}</h3>
                <p>{{ reason.number }}</p>
                <p>{{ reason.description }}</p>
                    {% endif%}
                {% endfor %}
         </div>
         <ul class="recommendations-list">
              <li class="recommendation-item">
                  {% for recommendation in object.recommendations.all %}
                    {% if recommendation.id == 1 %}
                   <!-- <img src="{{ recommendation.icon.url }}"> -->
                    <h4>{{ recommendation.title }}</h4>
                    <p>{{ recommendation.description }}</p>
                    {% endif%}
                  {% endfor %}
              </li>
              <li class="recommendation-item">
                  {% for recommendation in object.recommendations.all %}
                    {% if recommendation.id == 2 %}
                    <!-- <img src="{{ recommendation.icon.url }}"> -->
                    <h4>{{ recommendation.title }}</h4>
                    <p>{{ recommendation.description }}</p>
                    {% endif%}
                  {% endfor %}
              </li>
              <li class="recommendation-item">
                  {% for recommendation in object.recommendations.all %}
                    {% if recommendation.id == 3 %}
                    <!-- <img src="{{ recommendation.icon.url }}"> -->
                    <h4>{{ recommendation.title }}</h4>
                    <p>{{ recommendation.description }}</p>
                    {% endif%}
                  {% endfor %}
              </li>
         </ul>
     </li>

     <li class="feature-item-2">
        <div class="feature-item feature-main-bridge">
        {% for reason in object.reasons.all %}
            {% if reason.id == 2 %}
        <h3> {{ reason.title }} </h3>
        <p> {{ reason.number }} </p>
        <p> {{ reason.description }} </p>
                 {% endif%}
                {% endfor %}
        </div>
     </li>

    <li class="feature-item feature-standart">
        {% for reason in object.reasons.all %}
            {% if reason.id == 3 %}
        <h3> {{ reason.title }} </h3>
        <p> {{ reason.number }} </p>
        <p> {{ reason.description }} </p>
                {% endif%}
                {% endfor %}
    </li>

    <li class="feature-item feature-standart">
          {% for reason in object.reasons.all %}
               {% if reason.id == 4 %}
            <h3> {{ reason.title }} </h3>
            <p> {{ reason.number }} </p>
            <p> {{ reason.description }} </p>
                    {% endif%}
                   {% endfor %}
    </li>

    <li class="feature-item feature-standart">
            {% for reason in object.reasons.all %}
                {% if reason.id == 5 %}
            <h3> {{ reason.title }} </h3>
            <p> {{ reason.number }} </p>
            <p> {{ reason.description }} </p>
                     {% endif %}
                    {% endfor %}
    </li>
  </ul>


<section class="search">
    <p> {{ object.title4 }} </p>
    <p> {{ object.description4 }}</p>



</section>
{% endblock %}

