{% extends 'base.html' %}

{% block content %}


<main class="hotels-main width-container">
      <h1 class="visually-hidden">Выбор гостиницы в Седоне</h1>
      <section class="parameters-form">
          <form class="filter" action="{% url 'filter' %}" method="get" >
          <fieldset class="filter-item">
            <legend>Инфраструктура:</legend>
              <ul>
                  {% for facility in facilities %}
                <li class="filter-checkbox">
                  <input class="visually-hidden filter-input-checkbox filter-input" type="checkbox" name="{{facility.field}}" value="{{facility.field}}" id="filter-{{facility.field}}" checked>
                  <label for="filter-{{facility.field}}">{{ facility.field.label }}</label>
                </li>
                  {% endfor %}

              </ul>
          </fieldset>
          <fieldset class="filter-item">
            <legend>Тип жилья:</legend>
              <ul>
                    {% for type in types %}
                <li class="filter-checkbox">
                  <input class="visually-hidden filter-input-checkbox filter-input" type="checkbox" name="type" value="{{type.id}}" id="filter-{{type.id}}" >
                  <label for="filter-{{type.id}}">{{ type.name }}</label>
                </li>
                    {% endfor %}
              </ul>
              </fieldset>
          <fieldset class="filter-item">
            <legend>Стоимость в сутки (р):</legend>
              <div class="range-filter">
                <div class="price-controls">
                  <label class="min-price" aria-label="введите минимальное значение">
                     <input type="text" name="min-price" placeholder="от 0">
                  </label>
                  <label class="max-price" aria-label="введите максимальное значение">
                     <input type="text" name="max-price" placeholder="до 3000">
                  </label>
                </div>
              </div>
              <button type="submit" class="button filter-button">Показать</button>
          </fieldset>
        </form>
      </section>

      <section class="search-results">
        <h2 class="visually-hidden">Результаты поиска</h2>
        <div class="results-sort">
          <div class="results-sum">
            <p>Найдено:</p>
            <div class="results-sum-value">3</div>
          </div>
          <div class="sort-controls">
            <h3>Сортировка:</h3>
            <div class="sort-parameters">
              <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="price" class="button sort-parameters-button current" type="button">По цене</button>
              <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="type" class="button sort-parameters-button" type="button">По типу</button>
              <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="rating" class="button sort-parameters-button" type="button">По рейтингу</button>
            </div>
          </div>
        </div>
      <ul class="results-list">
          <ul class="results-item">
              {% for hotel in hotels %}
            <a class="hotel-photo" href="{{ hotel.get_absolut.url }}">
                <img src="{{ hotel.img }}" width="135" height="90" alt="Гостиница у подножия красных скал во время заката">
            </a>
            <div class="results-description">
                <h3><a class="hotel-name" href="{{ hotel.get_absolut.url }}">{{ hotel.name }}</a></h3>
                <div class="hotel-characteristics">
                    <p>{{ hotel.type }}</p>
                    <p>От {{ hotel.price }} Р.</p>
                </div>
                <div class="results-buttons">
                    <a class="button button-info" href="blank.html">Подробнее</a>
                    <button class="button button-reserv" type="button" name="reserv">Забронировать</button>
                </div>
            </div>
            <div class="results-rating">

                <ul class="rating-list">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
              <p class="rating-value">{{ hotel.rating }}</p>
            </div>
          </ul>
        </div>
                          {% endfor %}
      </ul>
      <ul class="pagination">
          <li class="pagination-item active">
            <a href="#">
              1
            </a>
          </li>
          <li class="pagination-item">
            <a href="#">
              2
            </a>
          </li>
          <li class="pagination-item">
            <a href="#">
              3
            </a>
          </li>
          <li class="pagination-item">
            <a href="#">
              4
            </a>
          </li>
        </ul>
      </section>
{% include 'include/pagination.html' %}

{% endblock %}